<div class="nav-wrapper">
  <nav class="top-bar">
    <div class="row column">
      <div class="top-bar-left">
        <ul class="dropdown menu" data-dropdown-menu>
          <li class="menu-text"><a href="<%= url('/') %>">Omeglog</a></li>
        </ul>
      </div>
    </div>
  </nav>
</div>
